@if (product$ | async; as product) {
  <section class="product-details">
    <img [src]="product.thumbnail" [alt]="product.title" class="product-image" />

    <div class="product-info">
      <h1>{{ product.title }}</h1>
      <p>{{ product.description }}</p>
      <p><strong>Category:</strong> {{ product.category }}</p>
      <p><strong>Price:</strong> ${{ product.price }}</p>
      <p><strong>Rating:</strong> {{ product.rating }}</p>
    </div>
  </section>
} @else {
  <p>Loading...</p>
}


<!-- @if (product$) {
  <section class="product-details">
    <div class="product-image-wrapper">
      <img
        [src]="product$.images[0] || product.thumbnail"
        [alt]="product.title"
        class="product-image"
      />
    </div>

    <div class="product-info">
      <span class="category">{{ product.category }}</span>
      <h1>{{ product.title }}</h1>
      <p class="description">{{ product.description }}</p>

      <div class="meta">
        <span class="price">${{ product.price }}</span>
        <span class="rating">⭐ {{ product.rating }}</span>
      </div>

      <div class="actions">
        <button pButton type="button" label="Add to cart"></button>
        <a routerLink="/products">
          <button pButton type="button" label="Back to products" severity="secondary"></button>
        </a>
      </div>
    </div>
  </section>
} @else {
  <p>Loading product...</p>
} -->
